
.ipynb_checkpoints
*/.ipynb_checkpoints/*

__pycache__/

*.pyc


Local/
Blender/Blender\ Imgs/Boards/
Blender/Blender\ Imgs/Dcs/
Blender/Blender\ Imgs/ZIPS/


Blender/Blender\ Imgs/kjyaivu01534-Chess.zip
Blender/Blender\ Imgs/Chess Scene.blend1

Blender/Blender\ Labels/